.btn {
  border: none;
}

.btn-primary {
  background: $gradient-1;  
  color: $gradient-1-h;
  transition: all 0.3s ease;

  &:hover {
    background: $primary2;
  }
}

.btn-lg {
  border-radius: 4px;
  font-size: 1.25em;
  padding: .5em 1em;
} 