@import "variables";
@import "typography";
@import "grid";
@import "buttons";
@import "boxes";

@import "blocks/header";
@import "blocks/jumbo";
@import "blocks/howworks";
@import "blocks/app-form";
@import "blocks/the-form";
@import "blocks/opinions";
@import "blocks/opinion";
@import "blocks/footer";

body {
  font-family: $font-family-base;
  line-height: $line-height-base; 
}

a {
  color: $primary3;
  text-decoration: none;
  &:hover {
    color: $primary3;
    border-bottom: 2px solid $primary3;
  }
}