<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bienvenidos a Maleteo{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset ('styles/styles2.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    {% endblock %}
</head>

<body>
    {% include "header.html.twig" %}
    {% block body %}

    <div class="container">
        <div class="row">
            {% for message in app.flashes('success') %}
            ​​<div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}​​</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}</div>
    </div>
    {# esto es el header #}

    <div class="jumbo">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="jumbo__ww-title">
                            <div class="jumbo__w-title">
                                <h1 class="jumbo__title heading1">
                                    Gana dinero guardando equipaje a viajeros como tu
                                </h1>
                                <ul class="jumbo__app-btns">
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset ('img/app-store.svg')}}" alt="" class="jumbo__app-btn">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="{{asset ('img/google-play.svg')}}" alt="" class="jumbo__app-btn">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container-fluid">
            {# cómo funciona? #}
            <section class="howworks">
                <h2 class="howworks__title heading2">
                    ¿Cómo funciona?
                </h2>
                <ol class="howworks__steps row">
                    <li class="col-md-4">
                        <div class="howworks__step">
                            <div class="howworks__step-w-bola">
                                <div class="howworks__step-bola">
                                    <span class="heading3">1</span>
                                </div>
                            </div>
                            <div class="howworks__step-w-txt">
                                <p class="howworks__step-title heading3">
                                    Date de alta
                                </p>
                                <p class="howworks__step-txt">
                                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y
                                    quebrantos los sábados.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="howworks__step">
                            <div class="howworks__step-w-bola">
                                <div class="howworks__step-bola">
                                    <span class="heading3">2</span>
                                </div>
                            </div>
                            <div class="howworks__step-w-txt">
                                <p class="howworks__step-title heading3">
                                    Elige tus preferencias
                                </p>
                                <p class="howworks__step-txt">
                                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y
                                    quebrantos los sábados.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="howworks__step">
                            <div class="howworks__step-w-bola">
                                <div class="howworks__step-bola">
                                    <span class="heading3">3</span>
                                </div>
                            </div>
                            <div class="howworks__step-w-txt">
                                <p class="howworks__step-title heading3">
                                    Sé un buen guardián
                                </p>
                                <p class="howworks__step-txt">
                                    Una olla de algo más vaca que carnero, salpicón las más noches, duelos y
                                    quebrantos los sábados.
                                </p>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>
            {# formulario #}
            <section class="app-form">
                <div class="row">
                    <div class="col-md-5">
                        <div class="app-form__w-app-img">
                            <img src="{{ asset ('img/iPhoneX.png')}}" srcset="img/iPhoneX@2x.png 2x, img/iPhoneX.png 1x"
                                alt="" class="app-form__app-img">
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="the-form">
                            {% include "form.html.twig" %}
                        </div>
                        {# si eres admin, puedes acceder a ver las demos solicitadas  #}
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="d-flex justify-content-end">
                            <a href={{path ('demos')}}>Ver demos solicitadas</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
            {# opiniones #}
            <section class="opinions">
                <h2 class="opinions__title heading2">
                    Opiniones de otros guardianes
                </h2>
                <ul class="row">
                    {% for index, opinion in opinions %}
                    {% if index < 3 %}
                    <li class="col-md-4">
                        <div class="opinion">
                            <blockquote class="opinion__blq simple-bubble text-large">
                                {{opinion.comentario}}
                            </blockquote>
                            <p class="opinion__author text-large">
                                {{opinion.autor}}
                            </p>
                            <p class="opinion__author-address">
                                {{opinion.ciudad | capitalize}}
                            </p>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {# si eres admin, puedes acceder a editar las opiniones #}
                {% if is_granted('ROLE_ADMIN') %}
                <div class="d-flex justify-content-end">
                    <a href={{path ('opinions')}}>Ir al editor de opiniones</a>
                </div>
                {% endif %}
            </section>
            <h4 class="opinions__title heading3">¿Tú también quieres dejar tu opinión? ¡Pincha <a
                    href={{path ('opinion')}}>aquí!</a></h4>
        </div>
    </div>
    {% endblock body %}

    {% include "footer.html.twig" %}
</body>

</html>