{% extends "base.html.twig" %}
{% block body %}
<div class="header wrapper">
    <div class="container-fluid">
        <h2 class="heading2">Demos solicitadas</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for index, item in newDemo %}
                <tr>
                    <th scope="row">{{index+1}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.ciudad | capitalize}}</td>
                    <td>
                        <a href="/admin/delete/{{item.id}}"><i class="far fa-trash-alt"></i></a>
                        <a href="/admin/edit/{{item.id}}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href={{path ('home')}}>Volver al Inicio</a>
    </div>
</div>
{% endblock body %}