{% extends "base.html.twig" %}
{% block body %}

<div class="container-fluid w-50 mb-5">
    <p class="the-form__title heading3">
        Editar opinión
    </p>

    {{ form_start(form, {action:path('updateOpinion', { 'id' : opinion.id })}) }}
    <div class="the-form__group">
        {{ form_label(form.name, 'Nombre') }}
        {{ form_widget(form.name, {'attr': {'class': 'the-form__input', 'value': opinion.autor }}) }}
    </div>
    <div class="the-form__group">
        {{ form_label(form.comment, 'Comentario') }}
        {{ form_widget(form.comment, {'attr': {'class': 'the-form__input', 'value': opinion.comentario }}) }}
    </div>
    <div class="the-form__group">
        {{ form_label(form.ciudad, 'Ciudad') }}
        {{ form_widget(form.ciudad, {'attr': {'class': 'the-form__input the-form__select', 'value': opinion.ciudad |capitalize}})}}
    </div>
    {{ form_widget(form.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}
    {{ form_end(form) }}

    <div class="d-flex justify-content-end">
        <a href={{path ('home')}}>Volver al Inicio</a>
    </div>
</div>
{% endblock body %}