<footer class="footer">
    <div class="wrapper">
        <div class="container-fluid">
            <img src="{{ asset ('img/logo.svg')}}" alt="Maleteo" class="footer__logo">
            <p class="footer__claim">
                Hecho con ❤️en Madrid
            </p>
        </div>
    </div>
</footer>