{{ form_start(formDemo, {action:path('sendForm')}) }}
<p class="the-form__title heading3">
    Solicita una demo
</p>
<div class="the-form__group">
    {{ form_label(formDemo.name, 'Nombre') }}
    {{ form_widget(formDemo.name, {'attr': {'class': 'the-form__input'}}) }}
</div>
<div class="the-form__group">
    {{ form_label(formDemo.email, 'Email') }}
    {{ form_widget(formDemo.email, {'attr': {'class': 'the-form__input'}}) }}
</div>
<div class="the-form__group">
    {{ form_label(formDemo.ciudades, 'Ciudad') }}
    {{ form_widget(formDemo.ciudades, {'attr': {'class': 'the-form__input the-form__select'}}) }}
</div>
<div class="the-form__group the-form__group_checkbox">
    {{ form_row(formDemo.privacy) }}
</div>
{{ form_widget(formDemo.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}
{{ form_end(formDemo) }}