<div class="wrapper">
    <div class="container-fluid">
        <header class="header d-flex justify-content-between">
            <img src="{{ asset ('img/logo.svg')}}" alt="Maleteo">
            <nav>
                {% if is_granted('ROLE_USER') %}
                <div class="d-flex flex-column align-items-end">
                    <p>Hola, {{ app.user.name }}</p>
                    <br>
                    <a href="{{ path('app_logout') }}">Cierra sesión</a>
                </div>
                {% else %}
                <div class="d-flex flex-column justify-content-center align-items-end">
                    <a href="{{ path('app_login') }}">Inicia sesión</a>
                    <br>
                    <a href="{{ path('app_signup') }}">Regístrate</a>
                </div>
                {% endif %}
            </nav>
        </header>
    </div>
</div>