{% extends "base.html.twig" %}
{% block body %}

<div class="container-fluid w-50 mb-5">
    {{ form_start(formOpinion, {action:path('opinion')}) }}
    <p class="the-form__title heading3">
        Escribe tu opinión
    </p>
    <div class="the-form__group">
        {% if is_granted('ROLE_USER') %}
        {{ form_label(formOpinion.name, 'Nombre') }}
        {{ form_widget(formOpinion.name, {'attr': {'class': 'the-form__input', 'value': app.user.name }}) }}
        {% else %}
        {{ form_label(formOpinion.name, 'Nombre') }}
        {{ form_widget(formOpinion.name, {'attr': {'class': 'the-form__input'}}) }}
        {% endif %}
    </div>
    <div class="the-form__group">
        {{ form_label(formOpinion.comment, 'Comentario') }}
        {{ form_widget(formOpinion.comment, {'attr': {'class': 'the-form__input'}}) }}
    </div>
    <div class="the-form__group">
        {{ form_label(formOpinion.ciudad, 'Ciudad') }}
        {{ form_widget(formOpinion.ciudad, {'attr': {'class': 'the-form__input the-form__select'}}) }}
    </div>
    {{ form_widget(formOpinion.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}
    {{ form_end(formOpinion) }}

    <div class="d-flex justify-content-end">
        <a href={{path ('home')}}>Volver al Inicio</a>
    </div>
</div>
{% endblock body %}