{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        {% for message in app.flashes('success') %}
        ​​<div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}​​</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}</div>
</div>

<div class="container-fluid w-50 mb-5">
    {{ form_start(formNewUser, {action:path('checkNewUser')}) }}
    <p class="the-form__title heading3">
        Regístrate
    </p>
    <div class="the-form__group">
        {{ form_label(formNewUser.name, 'Nombre de usuario') }}
        {{ form_widget(formNewUser.name, {'attr': {'class': 'the-form__input'}}) }}
    </div>
    <div class="the-form__group">
        {{ form_label(formNewUser.email, 'Email') }}
        {{ form_widget(formNewUser.email, {'attr': {'class': 'the-form__input'}}) }}
    </div>
    <div class="the-form__group">
        {{ form_label(formNewUser.password, 'Contraseña') }}
        {{ form_widget(formNewUser.password, {'attr': {'class': 'the-form__input'}}) }}
    </div>
    <div class="the-form__group">
        {{ form_label(formNewUser.password2, 'Repita la contraseña') }}
        {{ form_widget(formNewUser.password2, {'attr': {'class': 'the-form__input'}}) }}
    </div>
    {{ form_widget(formNewUser.enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}
    {{ form_end(formNewUser) }}

    <div class="d-flex justify-content-end">
        <a href={{path ('home')}}>Volver al Inicio</a>
    </div>
</div>
{% endblock body %}